<template>
  <div class="splash">
    <div class="top">
        <div class="trans-btn" @click='transbtn()'>
            <img src="../../assets/imgs/ic_lang_g.png" alt="">
        </div>
    </div>
    <div class="middle">
        <div class="logo">
            <img src="../../assets/imgs/heals_logo.png" alt="">
        </div>
        <div class="btn">
            <button @click = 'go("register")'>
                {{ $t("message.register") }}
            </button>
            <button @click = 'go("login")'>
                {{ $t("message.login") }}
            </button>
        </div>
    </div>
    <div class="layerbg" v-show = layershow>
        <div class="layerbox">
            <div class="title">
                {{ $t("message.label_change_lang") }}
            </div>
            <ul>
                <li v-for="(item) in lang" @click='transform(item.id)' :key=item.id :class='{blue: item.choose}'>
                    <span class="text">{{item.name}}</span>
                    <span class="right">
                    <i class="iconfont icon-icon" v-show='item.choose'></i>
                    </span>
                </li>
            </ul>
            <div class="langbtn">
                <button @click = canalelang class="rightborder">
                    {{ $t("message.cancel") }}
                </button>
                <button @click="chooselang">
                    <b>
                        {{ $t("message.select") }}
                    </b>
                </button>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'splash',
  data () {
    return {
      lang: [
        {id: 'ZHT', name: '繁體中文', choose: false},
        {id: 'ZHS', name: '简体中文', choose: false},
        {id: 'EN', name: 'English', choose: false}
      ],
      chooselangfalg: this.$i18n.locale,
      layershow: false
    }
  },
  mounted () {
    for (var i = 0; i < this.lang.length; i++) {
      if (this.lang[i].id === this.$i18n.locale) {
        this.lang[i].choose = true
      }
    }
  },
  methods: {
    go: function (data) {
      this.$router.push({path: '/' + data})
    },
    transform: function (data) {
      this.chooselangfalg = data
      for (var i = 0; i < this.lang.length; i++) {
        this.lang[i].choose = false
        if (this.lang[i].id === data) {
          this.lang[i].choose = true
        }
      }
    },
    transbtn: function () {
      this.layershow = true
    },
    chooselang: function () {
      this.$i18n.locale = this.chooselangfalg
      this.layershow = false
    },
    canalelang: function () {
      this.chooselangfalg = this.$i18n.locale
      for (var i = 0; i < this.lang.length; i++) {
        this.lang[i].choose = false
        if (this.lang[i].id === this.$i18n.locale) {
          this.lang[i].choose = true
        }
      }
      this.layershow = false
    }
  }
}
</script>

<style scoped  lang="scss">
    .trans-btn{
      position: fixed;top: 20px;right: 10px;width: 32px;
      img{width: 80%;}
    }
    .middle{
      position: fixed;top: 10%;width: 100%;
      button{background: linear-gradient(to right, #00b3d8, #00a850);color: #fff;width: 84%;border-radius: 14px;height: 40px;border: none;margin: 6% auto;display: block;outline: none}
      .logo{
        width: 90%;margin: 60px auto 80px;
        img{width: 54%;display: block;margin: 0 auto}
      }
    }
    .layerbg{
      position: fixed;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(0,0,0,0.5);z-index: 9;
      .layerbox{
        background-color: #fff;width: 250px;position: fixed;top: 50%;left: 50%;transform: translateX(-50%) translateY(-50%);border-radius: 13px;overflow: hidden;
        .title{text-align: center;line-height: 60px;font-weight: 700;font-size: 17px;}
        ul{
          border-bottom: 1px solid #ddd;border-top: 1px solid #ddd;
          .blue{color: #2ec0de}
          li{
            line-height: 44px;padding: 0 20px;font-size: 14px;
            .right{float: right;}
          }
        }
        .langbtn{
          button{
            color: #2ec0de;border: none;background-color: #fff;width: 50%;box-sizing: border-box;line-height: 44px;margin: 0 -2px;font-size: 17px;outline: none
          }
          .rightborder{border-right: 1px solid #ddd}
        }
      }
    }
</style>
