<template>
  <div class="transformlang">
    <div class="trans-btn" @click='transform()'>
      <img src="../../assets/imgs/ic_lang.png" alt="">
    </div>
  </div>
</template>

<script>
export default {
  name: 'transformlang',
  methods: {
    transform: function () {
      this.$router.push({path: '/transformindex'})
    }
  }
}
</script>

<style scoped lang='scss'>
 .trans-btn{
   position: fixed;top: 10px;right: 10px;background: #000;width: 32px;
   img{width: 100%;}
  }
</style>
