<template>
  <div class="transformindex">
    <div class="top">
      <i class="iconfont icon-ico_leftarrow"></i>
      <span>
        <b>{{ $t("message.setting_lang") }}</b>
      </span>
    </div>
    <ul>
      <li v-for="(item) in lang" @click='transform(item.id)' :key=item.id :class='{blue: item.choose}'>
        <span class="text">{{item.name}}</span>
        <span class="right">
          <i class="iconfont icon-icon" v-show='item.choose'></i>
        </span>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'transformindex',
  data () {
    return {
      lang: [
        {id: 'ZHT', name: '繁體中文', choose: true},
        {id: 'ZHS', name: '简体中文', choose: false},
        {id: 'EN', name: 'English', choose: false}
      ]
    }
  },
  methods: {
    transform: function (data) {
      this.$i18n.locale = data
      for (var i = 0; i < this.lang.length; i++) {
        this.lang[i].choose = false
        if (this.lang[i].id === data) {
          this.lang[i].choose = true
        }
      }
    }
  }
}
</script>

<style scoped lang='scss'>
 .top{
   height: 50px;background: linear-gradient(to right, #00b3d8, #00a850);color: #fff;padding: 0 1.2rem;position: relative;
   span{position: absolute;left: 50%;transform: translateX(-50%)}
  }
 li{
   list-style: none;height: 50px;border-bottom: 1px solid #00afa2;margin: 0 0.2rem;padding: 0 1rem;
}
 span,i,input,label{line-height: 50px;display: inline-block}
 span.right{float: right;color: #00afa2}
 .blue{color: #00afa2}
</style>
